.item {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
}

.grey {
    background-color: #c9d1d3;
}

.green {
    background-color: #42B883;
}

.blue {
    background-color: #64c4ed;
}

.pink {
    background-color: #ffbbcc;
}

.lime {
    background-color: #b6e6bd;
}

.purple {
    background-color: #c355f5;
}

.black {
    background-color: #110133;
}

.red {
    background-color: #ff6464;
}

// ================================

.active {
    border-color: #000;
}
