.sidebar {
    position: relative;
    flex: 0 0 200px;
    background-color: #f4f6f8;
    padding: 46px 20px;
    height: 100%;
    &__allTalks {
        margin: 0 0 18px;
    }

    &__type {
        margin: 0 0 18px;
    }

    &__addPapka{
        position: relative;
    }
}
