.itemSidebar {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    background-color: transparent;
    cursor: pointer;

    span {
        font-size: 14px;
        line-height: 16px;
        color: #000;
        margin-left: 6px;
        font-weight: 400;
    }

    &__active {
        background-color: #fff;
    }

    &:hover{
        background-color: rgba(#fff, .8);
    }
}
